@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

@layer base {
  body {
    @apply font-[Ubuntu];
  }

  li {
    @apply px-4;
    @apply cursor-pointer;
  }
}

.project-card {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 250px;
}

.project-card:hover {
  background-image: linear-gradient(
    to right,
    rgba(112, 157, 255, 0.8),
    hsla(242, 74%, 61%, 0.8)
  ) !important;
}
